---
title: 'Koshi Translator'
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Translate English into Koshi with our intuitive translator.">
  <meta name="keywords" content="Koshi, micronation, translation, Koshland, astro">
   <meta name="author" content="linuxfandudeguy">
   <meta name="generator" content="Astro 4.15.11">
   <meta name="theme-color" content="#ffffff">
  <title>Koshi Translator</title>
  <!-- Local Bootstrap 5.3.3 CSS -->
  <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
  <style>
    body {
      background-color: white; /* Set background color to white */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center"> 
      <div class="col-md-6 mt-5 pt-5">
        <h1 class="text-center font-weight-bold mb-4">Koshi Translator</h1>
        <form id="translationForm">
          <div class="form-group">
            <label for="inputText">Enter Text to Translate:</label>
            <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Enter text to translate" />
          </div>
          <div class="form-group">
            <label for="translationDirection">Translation Direction:</label>
            <select class="form-control" id="translationDirection" name="translationDirection">
              <option value="en-to-koshi">English to Koshi</option>
              <option value="koshi-to-en">Koshi to English</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary mt-3" id="translateBtn">Translate</button>
        </form>
        <div id="translationResult" class="mt-3"></div>
      </div>
    </div>
  </div>

  <!-- Local Bootstrap 5.3.3 JS -->
  <script type="text/javascript" src="/bootstrap-5.3.3-dist/js/bootstrap.min.js" defer></script>
  <!-- Initial script -->
  <script type="text/javascript" src="/init.bundle.min.js" defer></script>
  <!-- Polyfills -->
  <script type="text/javascript" src="/polyfills.min.js" defer></script>
  <script type="text/javascript" src="/polyfills-c67a75d1b6f99dc8.js" defer></script>
</body>
</html>
